header {
  //border-bottom: 1px solid black;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  color: orangered;
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  transition: top 200ms;
  width: 100%;
  z-index: 1000;
  // display: flex;
  // justify-content: space-between;
}

.header--not-active {
  top: -50px;
}

.header__title {
  display: inline;
  margin-right: 15px;
}

.header__point {
  color: blue;
  margin-right: 15px;
}

.header__nav-list {
  display: inline;
  list-style-type: none;

  a {
    color: black;
    margin: 15px 15px 0 0;
    text-decoration: none;

    &:hover {
      color: gold;
    }
  }

  .nav-active {
    color: orangered;
  }
}

.header__contact {
  cursor: pointer;
  color: #9442e7;
  position: absolute;
  right: 15px;
  top: 14px;
}
