@import url("https://use.typekit.net/rgn3mgx.css");

body {
  font-family: 'din-2014', 'Merriweather Sans', sans-serif;
  font-size: 1.1rem;
}

.scroll-container {
  height: 100vh;
  overflow: scroll;
}

.section {
  height: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media all and (max-width: 700px) {
  .section {
    height: auto;
  }
}


.section__wrapper {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  overflow: auto;
  padding: 0px 5px;

  h1 {
    a {
      color: black;
      position: relative;
      text-decoration: none;
      transition: color 100ms, text-shadow 200ms;

      &:hover {
        color: blue;

      }
    }
  }

  p {
    font-weight: lighter;
    line-height: 1.7em;
  }
}

@media all and (max-width: 700px) {
  .section__wrapper {
    display: block;
  }
}


.section__content {
  background: white;
  box-sizing: border-box;
  box-shadow: $light-shadow;
  margin: 180px 20px;
  max-width: 500px;
  padding: 30px 20px;
  width: 40%;

  p {
    margin-bottom: 0;
  }
}

.section__content__header {
  margin: 0;
}

@media all and (max-width: 1000px) {
  .section__content {
    padding: 180px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

@media all and (max-width: 700px) {
  .section__content {
    display: block;
    left: 0;
    padding: 0 20px 20px 20px;
    position: relative;
  }
}

.section__images {
  position: relative;
  overflow: hidden;
  width: 50%;
  z-index: -2;
  img {
    height: 470px;
  }
}

@media all and (max-width: 900px) {
  .section__images {
    width: 100%;

    img {
      margin-left: 10%;
      opacity: .8;
      width: auto;
    }
  }
}

@media all and (max-width: 700px) {
  .section__images {
    img {
      height: auto;
      opacity: 1;
      margin: 0;
      width: 100%;
    }
  }
}
