.design-section {
  margin: 50px auto;
  // max-width: $section-width;
  padding: $pad;
  padding-top: 50px;

  .design-img {
    box-sizing: border-box;
    cursor: pointer;
    display: inline;
    filter: drop-shadow($light-shadow);
    padding: 15px;
    height: 270px;

    &:hover {
        filter: drop-shadow(0 2px 4px gold);
    }
  }
}

@media all and (max-width: 700px) {
  .design-section {
    .design-img {
      height: auto;
      width: 100%;
    }
  }
}

.image-zoom-container {
  background: rgba(255, 255, 255, 0);
  height: 100vh;
  left: 0;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  top: 0;
  transition: all .5s;
  z-index: 1000;

  img {
    box-sizing: border-box;
    filter: drop-shadow($light-shadow);
    padding: $pad;
    position: absolute;
    width: 40%;
    transition: height 2s, all 200ms;
  }
}

.remove-button {
  top: 100px;
  cursor: pointer;
  font-size: 2em;
  right: 100px;
  position: absolute;
  text-align: center;
  width: 30px;
  z-index: 1;
}

@media all and (max-width: 700px) {
  .remove-button {
    bottom: 30px;
    cursor: pointer;
    font-size: 2em;
    right: 0;
    position: absolute;
    text-align: center;
    top: auto;
    width: 100%;
    z-index: 1;
  }
}

.colorHover {
}
